<div style="padding: 10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li><a href="#/listExpenses">Funds</a></li>
		<li class="active">Add transaction</li>
	</ol>-->

	<form class="form">
		<div class="form-group">
			<label for="inputFundName">Fund name</label>
			<select ng-model="transaction.fund" ng-change="getNav()" id="inputFundName" class="form-control"
					placeholder="Fund name" autofocus>
				<option value="118525">FI Smaller Companies</option>
				<option value="118834">MA Emerging Bluechip</option>
				<option value="118564">FI High Growth Companies</option>
				<option value="122639">PP Long Term Equity</option>
				<option value="118540">FI Taxshield</option>
				<option value="120503">Axis Long Term Equity</option>
			</select>
		</div>
		<div class="form-group">
			<label for="inputDate">Date</label>
			<input type="date" ng-model="transaction.date" ng-change="getNav()" id="inputDate" class="form-control"
				placeholder="Date">
		</div>
		<div class="form-group">
			<label for="inputNav">Nav</label>
			<input type="number" ng-model="transaction.nav" id="inputNav" class="form-control"
				   placeholder="Nav" disabled>
		</div>
		<div class="form-group">
			<label for="inputPurchaseValue">Purchase value</label>
			<input type="number" ng-model="transaction.purchaseValue" id="inputPurchaseValue" class="form-control"
				   placeholder="Purchase value">
		</div>
		<div class="form-group">
			<label for="inputQuantity">Quantity</label>
			<input type="number" ng-model="transaction.quantity" id="inputQuantity" class="form-control"
				placeholder="Quantity" ng-value="transaction.purchaseValue/transaction.nav | number:4" disabled>
		</div>
		<div align="center">
			<button type="button" ng-click="saveTransaction()" class="btn btn-primary">Save</button>
			<button type="button" ng-click="gotoFund(transaction.fund)" class="btn btn-primary">Cancel</button>
		</div>
	</form>
</div>