<div style="padding: 10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li><a href="#/showExpense">Expenses</a></li>
		<li class="active">Add new expense</li>
	</ol>-->

	<form class="form">
		<div class="form-group">
			<label for="inputCategory">Category</label>
			<select ng-model="expense.category" ng-change="filterItems()" id="inputCategory" class="form-control" autofocus>
				<option ng-repeat="(key, value) in categoryItemMap">{{ key }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="inputItem">Item</label>
			<select ng-model="expense.item" id="inputItem" class="form-control" autofocus>
				<option ng-repeat="item in itemList">{{ item }}</option>
			</select>
			<!--<input type="text" ng-model="expense.item" id="inputItem" class="form-control"
				placeholder="Item">-->
		</div>
		<div class="form-group">
			<label for="inputCost">Cost</label>
			<input type="number" ng-model="expense.cost" id="inputCost" class="form-control">
		</div>
		<div class="form-group">
			<label for="inputDate">Date</label>
			<input type="date" ng-model="expense.expenseDate" id="inputDate" class="form-control"
				placeholder="Date">
		</div>
		<div align="center">
			<button type="button" ng-click="saveExpense(expense)" class="btn btn-primary">Save expense</button>
			<button type="button" ng-click="viewExpenses()" class="btn btn-primary">Cancel</button>
		</div>
	</form>
</div>