<div style="padding: 10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<form class="form">
		<div class="form-group">
			<label for="inputName">Name</label>
			<input type="text" ng-model="habit.name" id="inputName" class="form-control">
		</div>
		<div class="form-group">
			<label for="inputName">Days</label><br/>
			<label ng-repeat="day in days" class="checkbox-inline">
				<input type="checkbox" id={{$index}} value="{{day}}" ng-click="toggleDay(day)"> {{ day }}
			</label>
		</div>
		<div class="form-group">
			<label for="inputName">Color</label><br/>
			<span ng-repeat="(key,value) in colors" ng-click="selectColor(key)" style="cursor:pointer;margin-right:10px;font-size:25px;color:{{key}};" class="glyphicon glyphicon-{{value}}" aria-hidden="true"></span>
		</div>
		<div align="center">
			<button type="button" ng-click="saveHabit()" class="btn btn-primary">Save</button>
			<!--<button type="button" ng-click="viewExpenses()" class="btn btn-primary">Cancel</button>-->
		</div>
	</form>
</div>