<div style="padding: 10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li><a href="#/listRuns">Runs</a></li>
		<li class="active">Edit run</li>
	</ol>-->
	
	<form class="form">
		<div class="form-group">
			<label for="inputDistance">Distance</label>
			<input type="number" ng-model="run.distance" id="inputDistance" class="form-control"
				placeholder="Distance" autofocus>
		</div>
		<div class="form-group">
			<label for="inputItem">Duration</label>
			<div class="row">
				<div class="col-xs-4">
					<input type="number" ng-model="run.hh" id="inputItem" class="form-control"
						placeholder="hh">
				</div>
				<div class="col-xs-4">
					<input type="number" ng-model="run.mm" id="inputItem" class="form-control"
						placeholder="mm">
				</div>
				<div class="col-xs-4">				
					<input type="number" ng-model="run.ss" id="inputItem" class="form-control"
						placeholder="ss">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputDate">Date</label>
			<input type="date" ng-model="run.runDate" id="inputDate" class="form-control"
				placeholder="Date" readOnly />
		</div>
		<div align="center">
			<button type="button" ng-click="updateRun(run)" class="btn btn-primary">Update run</button>
			<button type="button" ng-click="viewRuns()" class="btn btn-primary">Cancel</button>
		</div>
	</form>
</div>