<div style="padding: 10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li><a href="#/listRuns">Runs</a></li>
		<li class="active">Add new run</li>
	</ol-->
	<h3 align="center">Overdraft Summary</h3>

	<div>
		<div style="float:left;width:49%;background:#1995AD;margin:1px;padding:10px;">
			<span style="font-size:24px;color:white">{{ odAcc.availableBalance | number }}</span>
			<br/><span style="font-size:13px;color:white">Available balance</span>
		</div>
		<div style="float:left;width:49%;background:#A1D6E2;margin:1px;padding:10px;">
			<span style="font-size:24px;color:white">{{ odAcc.interest | number }}</span>
			<br/><span style="font-size:13px;color:white">{{ date | date:'MMM' }} '{{ date | date:'yy' }} Interest</span>
		</div>
	</div>

	<div>
		<div style="float:left;width:49%;background:#BCBABE;margin:1px;padding:10px;">
			<span style="font-size:24px;color:white">{{ odAcc.bookBalance | number }}</span>
			<br/><span style="font-size:13px;color:white">Book balance</span>
		</div>
		<div style="float:left;width:49%;background:#F1F1F2;margin:1px;padding:10px;">
			<span style="font-size:24px;">{{ odAcc.drawingPower | number }}</span>
			<br/><span style="font-size:13px">Outstanding principal</span>
		</div>
	</div><br/>

	<div style="clear:both"></div><br/>

	<div align="center">
		<button type="button" ng-click="gotoTransact()" class="btn btn-primary">Transact</button>
	</div>
</div>