<div style="padding: 10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<div style="font-size:12x">
		<div style="float:left;borde:1px solid" class="dropdown">
			<span class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				{{ activeHabit.name}}
				<span class="caret"></span>
			</span>
			<ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenu1">
				<li style="cursor:pointer" ng-repeat="habit in habits"><a ng-click="changeHabit(habit)">{{ habit.name}}</a></li>
				<li style="cursor:pointer"><a ng-click="addNewHabit()">Add new habit</a></li>
			</ul>
		</div>
		<div style="float:right;padding:7px;borde:1px solid">
			<span style="cursor:pointer" ng-click="prev()" class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
			&nbsp;{{ month }}&nbsp;{{ year }}&nbsp;
			<span style="cursor:pointer" ng-click="next()" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</div>
		<div style="clear:both"></div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th ng-repeat="day in days">{{ day }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in calendar">
				<td ng-repeat="cell in row" align="center"
					data-ng-style="(daysCompleted.indexOf(cell) > -1 && {'background':activeHabit.color,'color':'white'}) ||
								   (daysUncompleted.indexOf(cell) > -1 && {'background':'#b7b8b6','color':'white'})">
					<span ng-if="cell <= 31">{{ cell }}</span>
				</td>
				</td>
			</tr>
		</tbody>
	</table>

	<br/>

	<ul class="list-group">
		<li ng-repeat="day in datesPending" class="list-group-item">
			<div style="float:left;width:50%;">
				{{ day.getDate() }} {{ months[day.getMonth()] }}, {{ days[day.getDay()] }}
			</div>
			<div style="float:left;width:50%;text-align:right">
				<span style="color:#5cb85c;cursor:pointer;padding:0px 5px 0px 5px;margin:0px 10px 0px 10px;" ng-click="log(true, day)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				<span style="color:#a94442;cursor:pointer;padding:0px 5px 0px 5px;margin:0px 10px 0px 10px;" ng-click="log(false, day)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</div>
			<div style="clear:both"></div>
		</li>
	</ul>
</div>