<div style="padding:10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<div ng-repeat="bill in reminderList" style="font-family:Trebuchet MS;">
		<div class="alert alert-warning" style="background:#F1F1F2;border:1px solid #F1F1F2" role="alert">
			<div class="row" style="colo:#BCBABE">
				<div class="col-xs-6">Bill name</div>
				<div class="col-xs-6">Amount</div>
				<div class="col-xs-6"><b>{{ bill.name }}</b></div>
				<div class="col-xs-6">
					<b>
						<span ng-show="bill.cost">&#x20B9; {{ bill.cost | number:2}}</span>
						<span ng-show="!bill.cost">Unknown</span>
					</b>
				</div>

				<div class="col-xs-12">&nbsp;</div>

				<div class="col-xs-6">
					Due On <br/><b>{{ bill.dueOn | date:'MMM dd, yyyy' }}</b>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-warning" style="background:#1995AD;border:1px solid #1995AD" ng-click="payBill(bill)">Pay bill</button>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Expenses
				</div>
				<table class="table">
					<tr ng-repeat="expense in expenses">
						<td>{{ expense.month }} 2016</td>
						<td>Rs. {{ expense.expense | number:2 }}</td>
					</tr>
					<tr style="background:#f7f7f7">
						<td>Total expense</td>
						<td>Rs. {{ expenses | sum:"expense" | number:2}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Runs
				</div>
				<table class="table">
					<tr ng-repeat="run in runs">
						<td>{{ run.month }} 2016</td>
						<td>{{ run.distance | number:2 }} km</td>
					</tr>
					<tr style="background:#f7f7f7">
						<td>Total distance</td>
						<td>{{ runs | sum:"distance" | number:2}} km</td>
					</tr>	
				</table>
			</div>
		</div>		
	</div>-->
</div>