<div style="padding:10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>
	
	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li class="active">Runs</li>
	</ol>-->
	
	<div ng-show="status == 'success'" class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ message }}
	</div>
	<div ng-show="status == 'error'" class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ message }}
	</div>

	<div class="panel panel-default">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#<br/>&nbsp;</th>
					<th>Date<br/>&nbsp;</th>
					<th>Distance<br/>(km)</th>
					<th>Duration<br/>(hh:mm:ss)</th>
					<th>&nbsp;</th>
					<!-- <th>&nbsp;</th> -->
				</tr>
			</thead>
			<tbody>
				<!-- <tr ng-show="runs.length == 0">
					<td colspan="5">&nbsp;</td>
					<td>
						<span class="glyphicon glyphicon-plus" ng-click="addRun()" style="cursor:pointer"></span>
					</td>
				</tr> -->
				<tr ng-repeat="run in runs" ng-click="editRun(run)">
					<th scope="row">{{ $index + 1 }}</th>
					<td>{{ run.runDate }}</td>
					<td>{{ run.distance }}</td>
					<td>{{ run.duration }}</td>
					<td><span class="glyphicon glyphicon-trash" ng-click="deleteRun(run);$event.stopPropagation();" style="cursor:pointer"></span></td>
					<!-- <td>
						<span ng-show="$index == 0">
							<span class="glyphicon glyphicon-plus" ng-click="addRun()" style="cursor:pointer"></span>
						</span>
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
	<div align="center">
		<button type="button" ng-click="addRun()" class="btn btn-primary">Add run</button>
	</div>	
</div>