<div style="padding:10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li class="active">Funds</li>
	</ol>-->

	<div ng-repeat="fundView in fundViewList">
		<div class="panel panel-default" style="font-family:Trebuchet MS;">
			<div class="panel-heading">{{ fundView.name }}</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12" style="color:grey">Quantity</div>
					<div class="col-xs-12">{{ fundView.quantity | number:4}} Units</div>

					<div class="col-xs-6" style="color:grey">Average NAV</div>
					<div class="col-xs-6" style="color:grey">Purchase Value</div>
					<div class="col-xs-6">{{ fundView.averageNav | number:4}}</div>
					<div class="col-xs-6">&#x20B9; {{ fundView.purchaseValue | number:2}}</div>

					<div class="col-xs-6" style="color:grey">NAV</div>
					<div class="col-xs-6" style="color:grey">Actual Value</div>
					<div class="col-xs-6">{{ fundView.nav | number:4}}</div>
					<div class="col-xs-6" >&#x20B9; {{ fundView.actualValue | number:2}}</div>

				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-xs-6">
						<span style="color:green;font-weight:bold;">
							+{{ fundView.changeInValue | number:2}} ({{ fundView.realisedReturn | number:2 }}%)
						</span>
					</div>
					<div class="col-xs-6" style="text-align:right">
						<a href="javascript:void(0)">Show transactions >></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default" ng-repeat="(key, value) in fundTxnListMap">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="{{ 'funds/list/#' + $index }}" aria-expanded="true" aria-controls="{{ $index }}">
						{{ key }}
					</a>
				</h4>
			</div>
			<div id="{{ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<table class="table table-hover panel-body">
					<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
						<th>Amount</th>
						<th>Nav</th>
						<th>Quantity</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="fundTxn in value" ng-click="editExpense(expense)">
						<th scope="row">{{ $index + 1 }}</th>
						<td>{{ fundTxn.date | date : dd-MMM-yyyy}}</td>
						<td>{{ fundTxn.purchaseValue }}</td>
						<td>{{ fundTxn.nav }}</td>
						<td>{{ fundTxn.quantity }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>-->
</div>