<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">Helium</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="menu">
			<ul class="nav navbar-nav">
				<!--<li class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Expenses <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#/listExpenses">Today's expense</a></li>
						<li><a href="#/expensesReport">Expenses by item</a></li>
					</ul>
				</li>-->
				<li><a href="#/showExpense">Expenses</a></li>
				<li><a href="#/funds/showPortfolio">Funds</a></li>
				<li><a href="#/overdraft/getDetails">Overdraft</a></li>
				<li><a href="#/habits/monthLog">Habits</a></li>
				<li><a href="#/listRuns">My runs</a></li>
			</ul>
		</div>
	</div>
</nav>
