<div style="padding:10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li class="active">Expenses</li>
	</ol>-->
	<h3 align="center">Expenses</h3>

	<div style="font-size:16px">
		<div style="float:left;cursor:pointer;padding:7px;color:green" ng-click="switchView()">
			<span style="cursor:pointer" class="glyphicon glyphicon-{{expenseView}}" aria-hidden="true"></span>
			<span>&#x20B9; {{ amountSpent | number:0 }}</span>
		</div>

		<div style="float:right;padding:7px;">
			<span style="cursor:pointer" ng-click="prev()" class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
			&nbsp;{{ month }}&nbsp;{{ year }}&nbsp;
			<span style="cursor:pointer" ng-click="next()" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</div>
		<div style="clear:both"></div>
	</div>

	<table id="expense-calendar" style="font-size:16px;border-bottom:2px solid #DDDDDD" class="table table-striped">
		<thead>
		<tr>
			<th ng-repeat="day in days">{{ day }}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in calendar">
			<td style="cursor:pointer" ng-click="listExpenseByDate(cell, $parent.$index, $index)" ng-repeat="cell in row" align="center">
				<span ng-if="cell.getDate() <= 31">{{ cell.getDate() }}</span><br/>
				<span style="color:green;font-size:11px" ng-if="cell.getDate() <= 31">{{ expense[cell.getTime()] | number:0 }}</span>
			</td>
			</td>
		</tr>
		<tr ng-show="showExpenseListByDate == true">
			<td colspan="7" style="cursor:pointer;text-align:center;background:#EFEFEF;color:#888888" ng-click="hideExpenseList()">
				<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
			</td>
		</tr>
		</tbody>
	</table>

	<!--<div id="expensePie" style="min-width: 310px; height: 360px; max-width: 600px; margin: 0 auto"></div>

	<div style="font-size: 35px;text-align:center;">
		&#x20B9; {{ amountSpent | number : 2}}
	</div>-->

	<br/>

	<div id="expense-list" class="hide">
		<div class="panel panel-default">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>#</th>
					<th>Category</th>
					<th>Item</th>
					<th>Cost</th>
					<th>&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="expense in expenses" ng-click="editExpense(expense)">
					<th scope="row">{{ $index + 1 }}</th>
					<td>{{ expense.category }}</td>
					<td>{{ expense.item }}</td>
					<td>{{ expense.cost }}</td>
					<td><span class="glyphicon glyphicon-trash" ng-click="deleteExpense(expense);$event.stopPropagation();" style="cursor:pointer"></span></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div align="center">
			<button type="button" ng-click="addExpense()" class="btn btn-primary">Add expense</button>
		</div>
	</div>

	<div id="expense-report" class="hide" style="min-width: 310px; height: 360px; max-width: 600px; margin: 0 auto"></div>
	<!--<div align="center">
		<button type="button" ng-click="addExpense()" class="btn btn-primary">Add expense</button>
		<button type="button" ng-click="viewExpenses()" class="btn btn-primary">List expenses</button>
	</div>-->
</div>