<div style="padding:10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->
	<h3 align="center">Fund Portfolio</h3>

	&nbsp;

	<div>
		<div style="float:left;width:33.3%;text-align:center">
			<span ng-show="portfolio.gainLoss > 0" style="font-size:22px;color:green">{{ portfolio.gainLoss | number:0 }}</span>
			<span ng-show="portfolio.gainLoss < 0" style="font-size:22px;color:red">{{ portfolio.gainLoss | number:0 }}</span>
			<br/><span style="font-size:13px">Gain / Loss</span>
		</div>
		<div style="float:left;width:33.3%;text-align:center">
			<span style="font-size:22px;">{{ portfolio.value | number:0 }}</span>
			<br/><span style="font-size:13px">Portfolio Value</span>
		</div>
		<div style="float:left;width:33.3%;text-align:center">
			<span ng-show="portfolio.returns > 0" style="font-size:22px;color:green">{{ portfolio.returns | number:2 }} %</span>
			<span ng-show="portfolio.returns < 0" style="font-size:22px;color:red">{{ portfolio.returns | number:2 }} %</span>
			<br/><span style="font-size:13px">Annualised Return</span>
		</div>
	</div>

	&nbsp;

	<table id="datatable" class="table table-hover">
		<thead>
		<tr>
			<th>Fund</th>
			<th>Value</th>
			<th>Gain/Loss</th>
			<th>Return</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="fund in portfolio.fundList" style="cursor:pointer" ng-click="gotoFund(fund.id)">
			<!--<th>{{ fund.name }}</th>-->
			<th>{{ fund.name | limitTo: 11 }}{{fund.name.length > 11 ? '...' : ''}}
			<td align="right">{{ fund.value | number:0 }}</td>

			<td ng-show="fund.gainLoss > 0" style="color:green;text-align:right">{{ fund.gainLoss | number:0 }}</td>
			<td ng-show="fund.gainLoss > 0" style="color:green;text-align:right">{{ fund.returns | number:2 }} %</td>

			<td ng-show="fund.gainLoss < 0" style="color:red;text-align:right">{{ fund.gainLoss | number:0 }}</td>
			<td ng-show="fund.gainLoss < 0" style="color:red;text-align:right">{{ fund.returns | number:2 }} %</td>
		</tr>
		</tbody>
	</table>
</div>