<div style="padding: 10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li><a href="#/showExpense">Expenses</a></li>
		<li class="active">Add new expense</li>
	</ol>-->
	<h4 align="center">Transact overdraft</h4>

	<form class="form">
		<div class="form-group">
			<label for="inputAmount">Amount</label>
			<input type="number" ng-model="transaction.amount" id="inputAmount" class="form-control"
				placeholder="Amount">
		</div>
		<div class="form-group">
			<label for="inputComment">Comment</label>
			<input type="text" ng-model="transaction.comment" id="inputComment" class="form-control"
				   placeholder="Comment">
		</div>
		<div class="form-group">
			<label for="inputDate">Date</label>
			<input type="date" ng-model="transaction.date" id="inputDate" class="form-control"
				placeholder="Date">
		</div>
		<div align="center">
			<button type="button" ng-click="transact()" class="btn btn-primary">Transact</button>
		</div>
	</form>
</div>