<div style="padding:10px">
	<div ng-include="'app/partials/menu-bar.html'" ></div>

	<!--<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li class="active">Funds</li>
	</ol>-->

	<h4 align="center">{{ fund.name }}</h4>

	&nbsp;

	<div>
		<div style="float:left;width:33.3%;text-align:center">
			<span ng-show="fund.gainLoss > 0" style="font-size:22px;color:green">{{ fund.gainLoss | number:0 }}</span>
			<span ng-show="fund.gainLoss < 0" style="font-size:22px;color:red">{{ fund.gainLoss | number:0 }}</span>
			<br/><span style="font-size:13px">Gain / Loss</span>
		</div>
		<div style="float:left;width:33.3%;text-align:center">
			<span style="font-size:22px;">{{ fund.value | number:0 }}</span>
			<br/><span style="font-size:13px">Portfolio Value</span>
		</div>
		<div style="float:left;width:33.3%;text-align:center">
			<span ng-show="fund.returns > 0" style="font-size:22px;color:green">{{ fund.returns | number:2 }} %</span>
			<span ng-show="fund.returns < 0" style="font-size:22px;color:red">{{ fund.returns | number:2 }} %</span>
			<br/><span style="font-size:13px">Annualised Return</span>
		</div>
	</div>

	&nbsp;

	<table id="datatable" class="table table-hover">
		<thead>
		<tr>
			<th>Date</th>
			<th>Value</th>
			<th>Gain/Loss</th>
			<th>Return</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="txn in fund.transactions | limitTo:tableRowLimit" style="cursor:pointer">
			<td>{{ (txn.date * 1000) | date:"dd-MMM-yyyy" }}</td>
			<td align="right">{{ txn.value | number:0 }}</td>

			<td ng-show="txn.gainLoss > 0" style="color:green;text-align:right">{{ txn.gainLoss | number:0 }}</td>
			<td ng-show="txn.gainLoss > 0" style="color:green;text-align:right">{{ txn.returns | number:2 }} %</td>

			<td ng-show="txn.gainLoss < 0" style="color:red;text-align:right">{{ txn.gainLoss | number:0 }}</td>
			<td ng-show="txn.gainLoss < 0" style="color:red;text-align:right">{{ txn.returns | number:2 }} %</td>
		</tr>
		<tr>
			<td colspan="4" style="cursor:pointer;text-align:center;color:#888888" ng-click="toggleCollapse()">
				<span ng-show="tableRowLimit == 5" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				<span ng-show="tableRowLimit != 5" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
			</td>
		</tr>
		</tbody>
	</table>


    <div align="center">
        <button type="button" ng-click="addTransaction(fund.id)" class="btn btn-primary">Add Transaction</button>
    </div>

</div>