<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Stock Notification</title>
    <style>
        * {
            margin: 0px auto;
            padding: 0px;
            font-size: 13px;
            font-family: Trebuchet MS;
        }

        table {
            border-collapse: collapse;
        }

        table th {
            color: #FFFFFF;
            background: #9093D9;
        }

        table tr.odd {
            background: #D0D2FF;
        }

        table th, td {
            padding: 5px;
            border: 1px solid #FFFFFF;
        }

        table td.number {
            text-align: right;
        ]
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Change</th>
            <th>% Change</th>
        </tr>
        <tr th:each="stock, iteratorStat : ${notification.watchList}" th:class="${iteratorStat.odd} ? 'odd'">
            <td th:text="*{stock.name}">State Bank Of India</td>
            <td th:text="*{stock.price}" class="number">243.23</td>
            <td th:text="*{stock.change}" class="number">1.20</td>
            <td th:text="*{stock.changeInPercent}" class="number">1.20</td>
        </tr>
    </table>
</body>
</html>